*,
*:before,
*:after {
	box-sizing: border-box;
}

@font-face {
	font-family: Open89;
	src: url("../fonts/LLHvH-Open89.woff2") format("woff2"), url("../fonts/LLHvH-Open89.woff") format("woff");
	font-style: normal;
	font-weight: 400;
	font-stretch: normal
}

body {
	font-family: 'Open89', sans-serif;
	font-weight: 300;
	margin: 0;
	background: #000;
}

h1,
h2,
h3 {
	font-weight: 600;
}

p {
	color: #333;
}

i,
b,
em,
strong {
	color: #666;
}

a {
	text-decoration: none;
	transition: 0.3s;
	color: blue;
}

a:hover {
	color: darkblue;
}

img {
	width: 100%;
	height: auto;
	max-width: 500px;
}

.hide {
	display: none;
	transition: 0.3s;
}

.show {
	display: block;
}


/****************************

Header

****************************/

header {
	background-color: #0C38CC;
	box-shadow: inset 0 -16px 12px -10px rgba(0, 0, 0, .85);
	overflow: hidden;
	position: fixed;
	width: 100vw;
	z-index: 999999999999;
}

header nav ul {
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: center;
	overflow-x: scroll;
	line-height: 10px;
}

header nav ul::-webkit-scrollbar {
	display: none;
}

header nav img {
	width: 20px;
}

header nav a {
	color: #fff;
	padding: 25px 20px;
	align-self: center;
	transition: 0.3s;
	font-size: 0.7em;
}

header nav a:hover {
	color: #60D067;
}

header nav ul a:last-child::after {
	content: '\f0d7';
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	padding-left: 5px;
}

header nav ul {
	justify-content: flex-start;
}


/****************************

Header slide menu

****************************/

main {
	height: auto;
	position: relative;
	z-index: 2;
}

main section {
	columns: 1;
}

section.slide_menu {
	position: fixed;
	left: 0;
	top: -1000px;
	height: 100vh;
	width: 100vw;
	background: rgba(0, 0, 225, 0.9);
	transition: 0.8s;
	z-index: 99999999999999;
}

section.slide_menu nav:last-child {
	width: 100%;
	bottom: 5vh;
	position: absolute;
	padding: 0 25px;
}

section.slide_menu nav:last-child img {
	max-width: 60px;
	padding-left: 15px
}

.slide_menu nav:nth-child(2) {
	position: relative;
	z-index: 999;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 0;
}

.slide_menu nav:nth-child(2) a {
	color: #fff;
	font-size: 2em;
	padding: 25px;
}

section.slide_menu span {
	content: 'x';
	position: absolute;
	top: 2vh;
	right: 5vw;
	font-size: 3em;
	color: #fff;
	z-index: 9999;
}

section.slide_menu.show.hide {
	top: -1000px;
	transition: 0.3s;
}

section.slide_menu.show {
	top: 0;
	transition: 0.3s;
}

.video-container {
	position: relative;
	width: 100vw;
	height: 50vh;

}

.video-container:after {
	content: '';
	box-shadow: inset 0 -16px 12px -10px rgba(0, 0, 0, .85);
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	position: absolute;
}


video {
	object-fit: cover;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 50vh;
}

/****************************

Main

****************************/

main {
	width: 100vw;
}

aside {
	display: block;
	position: fixed;
	z-index: 99999;
	right: 0;
	top: 0;
	bottom: 0;
	width: 10vw;
	background: #000;
}

main nav {
	background-color: #60D067;
	box-shadow: inset 0 -16px 12px -10px rgba(0, 0, 0, .85);
	z-index: 2;
	width: 100%;
}

main nav ul {
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	margin: 0;
	padding: 10px;
}

main nav ul a:nth-child(-0n+2) {
	margin-right: auto;
}

main nav ul a {
	font-size: 14px;
	color: #fff;
	align-self: center;
	line-height: 10px;
	padding: 10px;
}

main nav ul a img {
	width: 20px;
}

main section {
	background-image: url(../images/background-section.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 99;
	width: 100vw;
	top: 360px;
	padding: 2em 1em;
	columns: 1;
}

figure {
	overflow: hidden;
}

main section .wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	transition: 0.3s;
	max-width: 500px;
	margin: 0 auto;
	margin-bottom: 25px;
}

main section .wrapper .inner .photo_container:after,
main section .wrapper:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 15px 11px rgba(0, 0, 0, .85);
	z-index: 99999999;
}

main section .wrapper .inner {
	background-color: #60d067;
	padding: 50px;
	display: flex;
	flex-direction: column;
	border: 50px solid transparent;
	border-image: url(../images/border-image.png) 30 round;
	transform: scale(1.3, 1.3);
	transition: 0.3s;
	box-shadow: inset 0 0 15px 11px rgba(0, 0, 0, .85);
	z-index: 9999999999;
}

main section .wrapper:hover div.inner {
	transform: scale(1, 1);
}

main section .wrapper .inner ul {
	margin: 0px;
	padding: 0px;
	display: flex;
	list-style-type: none;
}

main section .wrapper .inner ul img {
	width: 40px;

}

main section .wrapper .inner b {
	color: #000;
	line-height: 2;
	font-size: 2em;
	margin: 0px;
}

main section .wrapper .inner img {
	width: 100%;
}

main section .wrapper .inner .photo_container {
	overflow: hidden;
	width: 100%;
	margin: 0px;
	height: 25vh;
	position: relative;
	display: flex;
	box-shadow: inset 0 0 15px 11px rgba(0, 0, 0, .85);
}

main section .wrapper .inner .photo_container img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 99999;
}

/****************************

aside

****************************/

aside {
	display: none;
}

/****************************

Footer

****************************/

footer {
	background-color: #0C38CC;
	width: 100vw;
	box-shadow: inset 5px 16px 12px -10px rgba(0, 0, 0, .85);
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 999;
}

footer section {
	display: flex;
	flex-direction: column;
	padding: 2vh 5vw;
}

footer section h3 {
	color: #fff;
}

footer section:nth-child(1) nav {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

footer section:nth-child(1) nav img {
	width: 100%;
	max-width: 50px;
	padding: 0px 15px 0px 0px;
}

footer section:nth-child(2) input[type="text"] {
	padding: 10px;
	min-width: 20vw;
	border: none;
	margin: 0px;
}

footer section:nth-child(2) input[type="submit"] {
	padding: 10px;
	width: auto;
	border: none;
	margin: 0px;
}

form {
	display: flex;
}

footer section:nth-child(3) {
	border-top: 1px solid #fff;
}

footer section:nth-child(3) nav {
	display: flex;
	flex-direction: column;
}

footer section:nth-child(3) nav a {
	color: #fff;
	line-height: 2;
}

footer section:nth-child(4) {
	background-color: #fff;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

footer section:nth-child(4) figure {
	max-width: 80px;
	position: relative;
	height: auto;
	overflow: hidden;
	margin: 0;
	align-self: center;
}

footer section:nth-child(4) figure img {
	object-fit: cover;
	height: auto;
}

/****************************

Media Queries

****************************/

/* iPad */
@media screen and (min-width: 768px) {
	main section {
		columns: 1;
		padding: 10vh 15vw;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	main nav ul {
		padding: 10px 5vw;
	}
}

@media screen and (min-width: 1080px) {
	main section {
		columns: 2;
		width: 90vw;
		padding: 10vh 5vw;
		display: block;
	}

	body aside {
		display: block;
		background-image: url(../images/advertentie.png);
		background-size: cover;
		background-position: center;
	}

	main nav ul {
		padding: 10px 7vw;
	}

	header nav ul {
		justify-content: center;
	}

	header nav ul a {
		font-size: 1em;
	}

	video,
	main,
	header,
	nav,
	nav ul,
	footer {
		width: 90vw;
	}

	footer {
		flex-flow: row wrap;
	}

	footer section:nth-child(-1n+2) {
		width: 50vw;
		flex: 1;
	}

	footer section {
		flex: 1 100%;

	}

	footer section:nth-child(3) nav {
		flex-direction: row;
		justify-content: flex-start;
		padding: 5vh 0;
	}

	footer section:nth-child(3) nav a {
		padding-right: 3vw;
	}

	footer section:nth-child(4) {
		justify-content: space-around;
	}
}
